In [1]:
import pandas as pd

In [2]:
ser = pd.Series([1,2,3])
df = pd.DataFrame(ser)
df

   0
0  1
1  2
2  3

In [3]:
df.iloc[0]

0    1
Name: 0, dtype: int64

In [4]:
df.iloc[0,0]

1

In [5]:
df[0][0]

1

In [6]:
df = pd.DataFrame(data=[[0,1,2],[3,4,5]], index=list('ab'), columns=list('cde'))
df

   c  d  e
a  0  1  2
b  3  4  5

In [7]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=list('abc'))
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
df_a = df
df_a['a'] = 100
df_a

     a  b  c
0  100  2  3
1  100  5  6
2  100  8  9

In [9]:
df

     a  b  c
0  100  2  3
1  100  5  6
2  100  8  9

In [10]:
df_b = df + 100
df_b

     a    b    c
0  200  102  103
1  200  105  106
2  200  108  109

In [11]:
df_b.values.base is df.values.base

False

In [12]:
df

     a  b  c
0  100  2  3
1  100  5  6
2  100  8  9

In [13]:
print(type(df.__add__))
print(type(df.__add__.__func__))

<class 'method'>
<class 'function'>

In [14]:
import numpy as np

df_na = pd.DataFrame([1,2,np.nan])
df_na.sum()

0    3.0
dtype: float64

In [15]:
df_na.sum(skipna=False)

0   NaN
dtype: float64

In [16]:
df_na < 3

       0
0   True
1   True
2  False

In [19]:
df_dax = pd.DataFrame([[1,2,3,4],[5,6,7,8]])
df_dax.sum(axis=0)

0     6
1     8
2    10
3    12
dtype: int64

In [20]:
df_dax.sum(axis=1)

0    10
1    26
dtype: int64

In [21]:
df_1 = pd.DataFrame(np.random.randint(1,10,(3,3)), columns=list('ABC'))
df_1

   A  B  C
0  4  7  7
1  3  3  7
2  8  2  3

In [22]:
np.log(df_1)

          A         B         C
0  1.386294  1.945910  1.945910
1  1.098612  1.098612  1.945910
2  2.079442  0.693147  1.098612

In [24]:
df_2 = pd.DataFrame(np.random.randint(1,10,(3,2)), columns=list('CB'))
df_2

   C  B
0  3  4
1  9  6
2  8  1

In [25]:
df_1 + df_2

    A   B   C
0 NaN  11  10
1 NaN   9  16
2 NaN   3  11

In [30]:
!pip install chardet

Requirement already satisfied: chardet in /home/yeojin/anaconda3/lib/python3.7/site-packages (3.0.4)

In [29]:
!pip install --upgrade pip

Requirement already up-to-date: pip in /home/yeojin/anaconda3/lib/python3.7/site-packages (19.0.3)

In [28]:
!pip install PyHamcrest==1.9.0

Collecting PyHamcrest==1.9.0
  Downloading https://files.pythonhosted.org/packages/9a/d5/d37fd731b7d0e91afcc84577edeccf4638b4f9b82f5ffe2f8b62e2ddc609/PyHamcrest-1.9.0-py2.py3-none-any.whl (52kB)
    100% |████████████████████████████████| 61kB 825kB/s ta 0:00:011
Requirement already satisfied: six in /home/yeojin/anaconda3/lib/python3.7/site-packages (from PyHamcrest==1.9.0) (1.11.0)
Requirement already satisfied: setuptools in /home/yeojin/anaconda3/lib/python3.7/site-packages (from PyHamcrest==1.9.0) (40.2.0)
Installing collected packages: PyHamcrest
Successfully installed PyHamcrest-1.9.0

In [ ]:
import cardet

def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

In [31]:
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/attention.csv'
df_att = pd.read_csv(url, error_bad_lines=False)

In [32]:
df_att.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [33]:
df_att.drop('Unnamed: 0', axis=1).head() # 불필요한 열 삭제

   subject attention  solutions  score
0        1   divided          1    2.0
1        2   divided          1    3.0
2        3   divided          1    3.0
3        4   divided          1    5.0
4        5   divided          1    4.0