## 4.1 숫자와 문자 인덱스 처리

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
idx1 = pd.Index([1,2,3,4])
type(idx1)

pandas.core.indexes.numeric.Int64Index

In [3]:
pd.Index

pandas.core.indexes.base.Index

In [4]:
idx2 = pd.Index(range(1,4))
type(idx2)

pandas.core.indexes.range.RangeIndex

In [5]:
idx1.dtype, idx2.dtype

(dtype('int64'), dtype('int64'))

In [6]:
idx_s = pd.Index(['a','b','c'])
idx_s

Index(['a', 'b', 'c'], dtype='object')

In [7]:
type(idx_s)

pandas.core.indexes.base.Index

In [8]:
idx_s.values

array(['a', 'b', 'c'], dtype=object)

In [10]:
idx_f = pd.Index([1,2,3,4],dtype='float')
idx_f

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')

In [12]:
idx1[0] # 슬라이스 처리 가능

1

In [13]:
idx1[[0]] # 팬시 검색 가능

Int64Index([1], dtype='int64')

In [14]:
idx1[idx1 < 3] # 마스킹 검색 가능

Int64Index([1, 2], dtype='int64')

In [15]:
idx4 = pd.Index([4,5,6,7])

In [16]:
try: # 특정 원소 변경은 불가능
    idx4[0] = 100
except Exception as e:
    print(e)

Index does not support mutable operations

In [17]:
idx4 = pd.Index([1,2,3,4])
idx4 # 같은 형태의 인덱스 클래스 전체를 대체하는 것은 가능

Int64Index([1, 2, 3, 4], dtype='int64')

In [18]:
idx1.difference(idx2)

Int64Index([4], dtype='int64')

In [19]:
idx1 + 3

Int64Index([4, 5, 6, 7], dtype='int64')

In [20]:
s1 = pd.Series(index=list('aaab'), data=np.arange(4))
s1

a    0
a    1
a    2
b    3
dtype: int64

In [21]:
s2 = pd.Series(index=list('baaa'), data=np.arange(4))
s2

b    0
a    1
a    2
a    3
dtype: int64

In [22]:
s1 + s2 # 두 개의 레이블리 달라 시리즈 안의 레이블 개수끼리 곱한 만큼 카테시언 프로덕트를 처리한 레이블이 생김

a    1
a    2
a    3
a    2
a    3
a    4
a    3
a    4
a    5
b    3
dtype: int64

In [23]:
s1.sort_index().add(s2.sort_index())

a    1
a    3
a    5
b    3
dtype: int64

In [24]:
s3 = pd.Series(index=list('aaab'), data=np.arange(4))
s1 + s3

a    0
a    2
a    4
b    6
dtype: int64

In [26]:
s4 = pd.Series(index=list('aaabc'), data=np.arange(5))
s1 + s4 # 카테시언 프로덕트

a    0.0
a    1.0
a    2.0
a    1.0
a    2.0
a    3.0
a    2.0
a    3.0
a    4.0
b    6.0
c    NaN
dtype: float64

## 4.2 날짜 및 범주형 인덱스의 처리

In [27]:
idx_d = pd.Index(pd.date_range('20130101', periods=3))
idx_d

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03'], dtype='datetime64[ns]', freq='D')

In [28]:
idx_d.values

array(['2013-01-01T00:00:00.000000000', '2013-01-02T00:00:00.000000000',
       '2013-01-03T00:00:00.000000000'], dtype='datetime64[ns]')

In [29]:
idx_d.freq

In [31]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04','2015-08-04'])
data = pd.Series([0,1,2,3], index=index)
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [32]:
index.dtype

dtype('<M8[ns]')

In [33]:
dr1 = pd.date_range('2018-07-03','2018-07-10')
dr1

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [34]:
dr2 = pd.date_range('2018-07-03', periods=8)
dr2

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [35]:
dr3 = pd.date_range('2018-08-03', periods=24, freq='H')
dr3

DatetimeIndex(['2018-08-03 00:00:00', '2018-08-03 01:00:00',
               '2018-08-03 02:00:00', '2018-08-03 03:00:00',
               '2018-08-03 04:00:00', '2018-08-03 05:00:00',
               '2018-08-03 06:00:00', '2018-08-03 07:00:00',
               '2018-08-03 08:00:00', '2018-08-03 09:00:00',
               '2018-08-03 10:00:00', '2018-08-03 11:00:00',
               '2018-08-03 12:00:00', '2018-08-03 13:00:00',
               '2018-08-03 14:00:00', '2018-08-03 15:00:00',
               '2018-08-03 16:00:00', '2018-08-03 17:00:00',
               '2018-08-03 18:00:00', '2018-08-03 19:00:00',
               '2018-08-03 20:00:00', '2018-08-03 21:00:00',
               '2018-08-03 22:00:00', '2018-08-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [36]:
dr3.to_period('D') # 주기를 나타내는 인덱스로 바꿈

PeriodIndex(['2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03'],
            dtype='period[D]', freq='D')

In [37]:
dr_m = pd.period_range('2018-01', periods=13, freq='M')
dr_m

PeriodIndex(['2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
             '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
             '2019-01'],
            dtype='period[M]', freq='M')

In [38]:
tm_1 = pd.timedelta_range(0, periods=10, freq='H')
tm_1

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [39]:
tm_1 - tm_1[1] # 델타 연산 가능

TimedeltaIndex(['-1 days +23:00:00',          '00:00:00',          '01:00:00',
                         '02:00:00',          '03:00:00',          '04:00:00',
                         '05:00:00',          '06:00:00',          '07:00:00',
                         '08:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [40]:
dr2

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [41]:
dr2 - dr2[0]

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days', '5 days',
                '6 days', '7 days'],
               dtype='timedelta64[ns]', freq=None)

In [42]:
index = pd.date_range('1/1/2018', periods=9, freq='T')
series = pd.Series(range(9), index=index)
series

2018-01-01 00:00:00    0
2018-01-01 00:01:00    1
2018-01-01 00:02:00    2
2018-01-01 00:03:00    3
2018-01-01 00:04:00    4
2018-01-01 00:05:00    5
2018-01-01 00:06:00    6
2018-01-01 00:07:00    7
2018-01-01 00:08:00    8
Freq: T, dtype: int64

In [43]:
s_3T = series.resample('3T') # 분 단위로 만들어진 시리즈를 3분 단위로 처리
s_3T

DatetimeIndexResampler [freq=<3 * Minutes>, axis=0, closed=left, label=left, convention=start, base=0]

In [44]:
s_3T.sum()

2018-01-01 00:00:00     3
2018-01-01 00:03:00    12
2018-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [45]:
data = pd.read_csv('/mnt/c/Workspace/handson_pandas/data/hanriver_bridge.csv', index_col='Date', parse_dates=True, encoding='cp949')
data.head()

                     한강 좌측 인도  한강 우측 인도
Date
2012-10-03 00:00:00       4.0       9.0
2012-10-03 01:00:00       4.0       6.0
2012-10-03 02:00:00       1.0       1.0
2012-10-03 03:00:00       2.0       3.0
2012-10-03 04:00:00       6.0       1.0

In [46]:
data.columns

Index(['한강 좌측 인도', '한강 우측 인도'], dtype='object')

In [47]:
data.index

DatetimeIndex(['2012-10-03 00:00:00', '2012-10-03 01:00:00',
               '2012-10-03 02:00:00', '2012-10-03 03:00:00',
               '2012-10-03 04:00:00', '2012-10-03 05:00:00',
               '2012-10-03 06:00:00', '2012-10-03 07:00:00',
               '2012-10-03 08:00:00', '2012-10-03 09:00:00',
               ...
               '2018-05-31 14:00:00', '2018-05-31 15:00:00',
               '2018-05-31 16:00:00', '2018-05-31 17:00:00',
               '2018-05-31 18:00:00', '2018-05-31 19:00:00',
               '2018-05-31 20:00:00', '2018-05-31 21:00:00',
               '2018-05-31 22:00:00', '2018-05-31 23:00:00'],
              dtype='datetime64[ns]', name='Date', length=49608, freq=None)

In [49]:
data.columns = ['좌측','우측']
data['합산'] = data.eval('좌측 + 우측') # 실제 연산을 문자열로 만들어 eval 메소드로 실행
data.head()

                      좌측   우측    합산
Date
2012-10-03 00:00:00  4.0  9.0  13.0
2012-10-03 01:00:00  4.0  6.0  10.0
2012-10-03 02:00:00  1.0  1.0   2.0
2012-10-03 03:00:00  2.0  3.0   5.0
2012-10-03 04:00:00  6.0  1.0   7.0

In [50]:
data.isnull().sum()

좌측    8
우측    8
합산    8
dtype: int64

In [51]:
data_dp = data.dropna()

In [52]:
daily = data.resample('D').sum() # 날짜 기준으로 리샘플링

In [53]:
daily.head()

                좌측      우측      합산
Date
2012-10-03  1760.0  1761.0  3521.0
2012-10-04  1708.0  1767.0  3475.0
2012-10-05  1558.0  1590.0  3148.0
2012-10-06  1080.0   926.0  2006.0
2012-10-07  1191.0   951.0  2142.0

In [54]:
weekly_r = data.resample('W').mean() # 주 단위 리샘플링
weekly_r.head()

                   좌측         우측          합산
Date
2012-10-07  60.808333  58.291667  119.100000
2012-10-14  51.660714  48.309524   99.970238
2012-10-21  47.297619  45.017857   92.315476
2012-10-28  41.077381  38.904762   79.982143
2012-11-04  38.142857  34.440476   72.583333

In [55]:
weekly_f = data.asfreq('W') # 기존 데이터 프레임의 freq 변경
# 특정 날짜에 있는 행의 데이터로 세팅되고, 나머지 데이터는 사라짐
weekly_f.head()

             좌측    우측    합산
Date
2012-10-07  6.0   5.0  11.0
2012-10-14  3.0   3.0   6.0
2012-10-21  5.0  12.0  17.0
2012-10-28  5.0   5.0  10.0
2012-11-04  7.0  11.0  18.0

In [56]:
inx_i = pd.CategoricalIndex([1,2,3,4]) # 정수 리스트를 인자로 받아 인덱스 내의 레이블이 한정된 정수값을 가짐
s = pd.Series([1,2,3,4], index=inx_i)
s

1    1
2    2
3    3
4    4
dtype: int64

In [57]:
s.index = s.index.add_categories(5) # 인덱스 추가후 
s.index

CategoricalIndex([1, 2, 3, 4], categories=[1, 2, 3, 4, 5], ordered=False, dtype='category')

In [58]:
try:
    s.index = s.index.insert(4,5)
except Exception as e:
    print(e)

Length mismatch: Expected axis has 4 elements, new values have 5 elements

In [59]:
# 시리즈의 레이블을 추가하기 위해 범주형 인덱스를 일단 리스트로 전환
stl = s.index.tolist()
stl

[1, 2, 3, 4]

In [61]:
s.index = stl # 이를 시리즈에 .index 속성에 할당하여 정수형 인덱스로 변환
s.index

Int64Index([1, 2, 3, 4], dtype='int64')

In [62]:
s[5] = 100 # 정수형 인덱스는 인덱스 레이블 추가 가능 
s

1      1
2      2
3      3
4      4
5    100
dtype: int64

In [63]:
s.index = s.index.astype('category') # 다시 범주형 인덱스로 
s

1      1
2      2
3      3
4      4
5    100
dtype: int64

## 4.3 멀티인덱스 처리

In [3]:
ind = [("서울", 2017), ("경기도", 2017)]
si = pd.Series(np.random.randint(1,10,2), index=ind)
si

(서울, 2017)     3
(경기도, 2017)    3
dtype: int64

In [4]:
si['서울',2017]

3

In [5]:
si[('서울',2017)]

3

In [6]:
index = pd.MultiIndex.from_tuples(ind)
index

MultiIndex(levels=[['경기도', '서울'], [2017]],
           labels=[[1, 0], [0, 0]])

In [7]:
s = pd.Series(np.random.randint(1,10,2), index=index)
s

서울   2017    2
경기도  2017    8
dtype: int64

In [8]:
s['서울'] # 첫 번째 계층으로 조회하면 결과는 다음 계층의 레이블과 값으로 구성된 시리즈 반환

2017    2
dtype: int64

In [9]:
s['서울', 2017] # 계층 레이블 다 넣고 조회하거나 튜플로 넣어 조회하면 매칭되는 스칼라 값 조회

2

In [10]:
s[('서울', 2017)] # 계층 레이블 다 넣고 조회하거나 튜플로 넣어 조회하면 매칭되는 스칼라 값 조회

2

In [11]:
s.loc['서울']

2017    2
dtype: int64

In [12]:
s[:,2017]

서울     2
경기도    8
dtype: int64

In [13]:
s.loc[:,2017]

서울     2
경기도    8
dtype: int64

In [14]:
arrays = [np.array(['bar','bar','baz','baz','foo','foo','qux','qux']), np.array(['one','two','one','two','one','two','one','two'])]
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one   -0.953930
     two    2.583380
baz  one   -0.245283
     two    0.381624
foo  one    1.231048
     two   -1.196254
qux  one    0.130936
     two    0.353391
dtype: float64

In [15]:
s.index # MultiIndex

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]])

In [17]:
# MultiIndex.from_product : 리스트에 리스트를 넣어 멀티인덱스 생성
iterables = [['bar','baz','foo','qux'],['one','two']]
arrays2 = pd.MultiIndex.from_product(iterables, names=['first','second'])
arrays2

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [20]:
arrays2.levels # FrozenList

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [21]:
arrays2.values # tuple 관리

array([('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'),
       ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')],
      dtype=object)

In [19]:
s2 = pd.Series(np.random.randn(8), index=arrays2)
s2

first  second
bar    one      -0.663253
       two       0.263883
baz    one      -1.208786
       two       0.778705
foo    one       1.317421
       two       0.953821
qux    one      -0.283518
       two      -1.405973
dtype: float64

In [22]:
# from_tuples
index = [('서울',2008),('서울',2010),('부산',2008),('부산',2010),('인천',2008),('인천',2010)]
mul_index = pd.MultiIndex.from_tuples(index)
mul_index

MultiIndex(levels=[['부산', '서울', '인천'], [2008, 2010]],
           labels=[[1, 1, 0, 0, 2, 2], [0, 1, 0, 1, 0, 1]])

In [23]:
mul_index.values

array([('서울', 2008), ('서울', 2010), ('부산', 2008), ('부산', 2010),
       ('인천', 2008), ('인천', 2010)], dtype=object)

In [24]:
mul_index.value_counts()

(인천, 2010)    1
(부산, 2008)    1
(서울, 2008)    1
(부산, 2010)    1
(서울, 2010)    1
(인천, 2008)    1
dtype: int64

In [25]:
mul_index.levels

FrozenList([['부산', '서울', '인천'], [2008, 2010]])

In [26]:
mul_index.labels

FrozenList([[1, 1, 0, 0, 2, 2], [0, 1, 0, 1, 0, 1]])

In [27]:
populations = [30000,37000, 18970, 19370, 20850, 25140]
pop = pd.Series(populations, index=mul_index)
pop

서울  2008    30000
    2010    37000
부산  2008    18970
    2010    19370
인천  2008    20850
    2010    25140
dtype: int64

In [28]:
pop['서울']

2008    30000
2010    37000
dtype: int64

In [29]:
pop['서울',2008]

30000

In [30]:
pop[:,2010] # 첫 번째 레이블 전체에 슬라이스 처리, 두 번째 레이블 이름 선택 
# -> 첫 번째 레이블 기준으로 결과 값 나옴

서울    37000
부산    19370
인천    25140
dtype: int64

In [31]:
try:
    pop["서울":"인천"]
except Exception as e:
    print(e)

'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [32]:
pop = pop.sort_index() # 문자로 슬라이싱 하려면 먼저 .sort_index() 로 인덱스 값의 문자열 정리해야함
pop["서울":"인천"]

서울  2008    30000
    2010    37000
인천  2008    20850
    2010    25140
dtype: int64

In [33]:
pop.index.names = ['시','연도']
pop

시   연도
부산  2008    18970
    2010    19370
서울  2008    30000
    2010    37000
인천  2008    20850
    2010    25140
dtype: int64

In [34]:
r_inx = pd.MultiIndex.from_product([[2017,2018],[1,2]], names=['연도','과제점수'])
r_inx

MultiIndex(levels=[[2017, 2018], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['연도', '과제점수'])

In [35]:
c_inx = pd.MultiIndex.from_product([['철수','영희','지원'],['컴공','경제']], names=['학생','학과'])
c_inx

MultiIndex(levels=[['영희', '지원', '철수'], ['경제', '컴공']],
           labels=[[2, 2, 0, 0, 1, 1], [1, 0, 1, 0, 1, 0]],
           names=['학생', '학과'])

In [36]:
data = np.round(np.abs(np.random.randn(4,6)),1) # 4행 6열짜리 데이터 
data

array([[0.1, 0.8, 0.1, 0.3, 1.2, 2. ],
       [2.4, 0.7, 0.8, 0.2, 0.6, 0.9],
       [0.6, 1.8, 0.7, 1.3, 0.3, 1.5],
       [1.5, 0.2, 0.1, 0. , 0.3, 1.9]])

In [37]:
study_data = pd.DataFrame(data, index=r_inx, columns = c_inx)
study_data

학생          철수        영희        지원
학과          컴공   경제   컴공   경제   컴공   경제
연도   과제점수
2017 1     0.1  0.8  0.1  0.3  1.2  2.0
     2     2.4  0.7  0.8  0.2  0.6  0.9
2018 1     0.6  1.8  0.7  1.3  0.3  1.5
     2     1.5  0.2  0.1  0.0  0.3  1.9

In [38]:
study_data.index

MultiIndex(levels=[[2017, 2018], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['연도', '과제점수'])

In [39]:
study_data.columns

MultiIndex(levels=[['영희', '지원', '철수'], ['경제', '컴공']],
           labels=[[2, 2, 0, 0, 1, 1], [1, 0, 1, 0, 1, 0]],
           names=['학생', '학과'])

In [40]:
study_data.index[0] # 레벨별로 조회하면 튜플로 결과 반환

(2017, 1)

In [41]:
study_data.index[1] # 레벨별로 조회하면 튜플로 결과 반환

(2017, 2)

In [42]:
study_data.index.names[0]

'연도'

In [43]:
study_data.values

array([[0.1, 0.8, 0.1, 0.3, 1.2, 2. ],
       [2.4, 0.7, 0.8, 0.2, 0.6, 0.9],
       [0.6, 1.8, 0.7, 1.3, 0.3, 1.5],
       [1.5, 0.2, 0.1, 0. , 0.3, 1.9]])

In [44]:
study_data['지원'] # 열 레이블에서 첫 번째 이름 가져오면 그 아래 레빌의 데이터 프레임 반환

학과          컴공   경제
연도   과제점수
2017 1     1.2  2.0
     2     0.6  0.9
2018 1     0.3  1.5
     2     0.3  1.9

In [46]:
study_data['지원','컴공'] # 열 레이블에서 두 개의 레벨 차례로 지정 시 열의 정보를 가져와 Series로 반환

연도    과제점수
2017  1       1.2
      2       0.6
2018  1       0.3
      2       0.3
Name: (지원, 컴공), dtype: float64

In [47]:
study_data.index.levels[0].dtype

dtype('int64')

In [48]:
study_data.xs((2017,1))

학생  학과
철수  컴공    0.1
    경제    0.8
영희  컴공    0.1
    경제    0.3
지원  컴공    1.2
    경제    2.0
Name: (2017, 1), dtype: float64

In [49]:
study_data.xs(2017)

학생     철수        영희        지원
학과     컴공   경제   컴공   경제   컴공   경제
과제점수
1     0.1  0.8  0.1  0.3  1.2  2.0
2     2.4  0.7  0.8  0.2  0.6  0.9

In [50]:
study_data.columns.levels[0].dtype

dtype('O')

In [51]:
study_data.columns.levels[0]

Index(['영희', '지원', '철수'], dtype='object', name='학생')

In [52]:
study_data.xs(('지원','컴공'),axis=1) # 열 단위 처리 위해 두 개의 레벨에 맞춰 쌍 작성하고 axis=1 지정

연도    과제점수
2017  1       1.2
      2       0.6
2018  1       0.3
      2       0.3
Name: (지원, 컴공), dtype: float64